################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/TestEv/TestEv/obj
/.vs
/TestEv/.vs
/TestEv/TestEv.Application/obj
/TestEv/TestEv.Domain/obj
/TestEv/TestEv.Infrastructure/obj
/TestEv/TestEv.Api/obj/Debug/net10.0
/TestEv/TestEv.Api/obj
